<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />

	<title layout:title-pattern="$CONTENT_TITLE · $DECORATOR_TITLE">Spring OAuth Social</title>

	<!--<link rel="apple-touch-icon-precomposed" sizes="57x57" th:href="@{/ui/img/apple-touch-icon-57x57.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ui/img/apple-touch-icon-114x114.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ui/img/apple-touch-icon-72x72.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ui/img/apple-touch-icon-144x144.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" th:href="@{/ui/img/apple-touch-icon-60x60.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" th:href="@{/ui/img/apple-touch-icon-120x120.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" th:href="@{/ui/img/apple-touch-icon-76x76.png}" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" th:href="@{/ui/img/apple-touch-icon-152x152.png}" />
	<link rel="icon" type="image/png" th:href="@{/ui/img/favicon-196x196.png}" sizes="196x196" />
	<link rel="icon" type="image/png" th:href="@{/ui/img/favicon-96x96.png}" sizes="96x96" />
	<link rel="icon" type="image/png" th:href="@{/ui/img/favicon-32x32.png}" sizes="32x32" />
	<link rel="icon" type="image/png" th:href="@{/ui/img/favicon-16x16.png}" sizes="16x16" />
	<link rel="icon" type="image/png" th:href="@{/ui/img/favicon-128.png}" sizes="128x128" />
	<meta name="application-name" content="Cadcraft"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" th:content="@{/ui/img/mstile-144x144.png}" />
	<meta name="msapplication-square70x70logo" th:content="@{/ui/img/mstile-70x70.png}" />
	<meta name="msapplication-square150x150logo" th:content="@{/ui/img/mstile-150x150.png}" />
	<meta name="msapplication-wide310x150logo" th:content="@{/ui/img/mstile-310x150.png}" />
	<meta name="msapplication-square310x310logo" th:content="@{/ui/img/mstile-310x310.png}" />-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" layout:fragment="content"></div>
</body>
</html>